.projects-section {
  text-align: center;
  background-color: #111;
  padding: 20px 0;
  color: #fff;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: scroll 12s linear infinite;
  width: calc(200%); 
}

.carousel-item {
  min-width: 25%; 
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel-item-info {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 0 0 10px 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}


